* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(kepek/hatter1.jpg);
    background-size: cover;
    font-size: Arial;
}

main {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(129, 209, 97);
    display: grid;
    grid-template-areas: "h h h"
                         "n n n"
                         "a a as"
                         "f f f";
}

header {
    grid-area: h;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: bold;
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: n;
    width: 100%;
    height: 50px;
    background-color: rgb(74, 150, 24);
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}
nav ul li {
    padding: 5px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
nav ul li a:hover {
    background-color: rgb(54, 187, 49);
}
article {
    grid-area: a;
    padding: 15px;
    text-align: justify;
}
article h2 {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
article img {
    float: right;
    width: 200px;
    padding: 5px;
    margin-left: 12px;
    border: 1px solid rgb(252, 250, 250);
    border-radius: 10px;
}
aside {
    grid-area: as;
}
aside img {
    width: 100%;

}
footer {
    grid-area: f;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
        grid-template-areas: "h"
                             "n"
                             "a"
                             "as"
                             "f";
    }
}